<!--Featured Section-->
<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="main_features p-top-100">
                <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                    <div class="head_title text-center">
                        <h2>Great Features</h2>
                        <!-- <h5>Only necessary</h5> -->
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="features_item sm-m-top-30">
                        <div class="f_item_icon">
                            <i class="icon icon-diamond6"></i>
                        </div>
                        <div class="f_item_text">
                            <h3>Usability</h3>
                            <p>A simple pdf and epub reader with bookmark, search, and speed read capabilities</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="features_item sm-m-top-30">
                        <div class="f_item_icon">
                            <i class="icon icon-layers2"></i>
                        </div>
                        <div class="f_item_text">
                            <h3>Customization Effect</h3>
                            <p>Sometimes the simplest things are the hardest to find.
                                Reading Hacker allows you to change font color, enable or disable paragraph view or left and right text view, and download a variety of fonts from google fonts!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="features_item sm-m-top-30">
                        <div class="f_item_icon">
                            <i class="icon icon-business-32"></i>
                        </div>
                        <div class="f_item_text">
                            <h3>Copy And Paste Text</h3>
                            <p>Sometimes you need simple functionality. Besides loading book, the app also has a place where text can be copy and pasted!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off Featured Section-->
<section>
  <div class="container">
    <div class="row">
      <div class="main_drag roomy-50">
        <div class="col-md-12">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide" style="background-image:url(assets/images/drag1.png)"></div>
              <div class="swiper-slide" style="background-image:url(assets/images/drag3.png)"></div>
              <div class="swiper-slide" style="background-image:url(assets/images/drag2.png)"></div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
