
    <!--screen short section-->

    <section id="screen_area" class="screen_area">
      <div class="container">
        <div class="row">
          <div class="main_screen">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
              <div class="head_title text-center">
                <h2>Screenshots</h2>
                <h5>The brightest images</h5>
                </div>
              </div>

              <!-- Screen01-->
              <div class="screen01 roomy-50">
                <div class="col-md-6">
                  <div class="screen01_img text-center">
                    <div class="attr_cloudy text-white">Bookmark Pages</div>
                    <div class="attr_deg2 text-white">Start button to speed read</div>
                    <img src="assets/images/screen01.png" alt="" />
                    <h1 class="cloudy">Cloudy</h1>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="screen01_content m-top-100">
<!--                     <div class="screen01_content_img ">
                      <img src="assets/images/cloud1.png" alt="" />
                    </div> -->
                    <h2 class="m-top-40">When you start reading
                                        <p class="m-top-20">Click the main app window or the play button to <b>speed read!</b> Note: There are two different reading modes - with or without surrounding text - depending on which you <b>click</b>! 
										You can also navigate by click wpm or block! You can also bookmark your position for different books!</p>
        <h2 class="m-top-40">When you stop reading</h2>
                                        <p class="m-top-20">Sometimes the simplest things are the hardest to find.
                                            So for each different book, you can easily make multiple bookmarks!</p>

                            
                                    </div>
                                </div>
                            </div><!--End off Screen01-->

                            <!-- Screen02-->
<!--                             <div class="screen02 roomy-50 m-top-100">
                                <div class="col-md-6 col-md-push-6">
                                    <div class="screen02_img text-center">
                                        <img src="assets/images/screen02.png" alt="" />
                                        <h1 class="sunny"></h1>
                                    </div>
                                </div>
                                <div class="col-md-6 col-md-pull-6">
                                    <div class="screen02_content m-top-100">
                                        <div class="screen02_content_img ">
                                            <img src="assets/images/sun1.png" alt="" />
                                        </div>
                                        <h2 class="m-top-40">When you stop reading</h2>
                                        <p class="m-top-20">Sometimes the simplest things are the hardest to find.
                                            So for each different book, you can easily make multiple bookmarks!</p>

             
                                    </div>
                                </div>
                            </div><!--End off Screen02--> -->

                            <!-- Screen03-->
                            <div class="screen03 roomy-50 m-top-100">
                                <div class="col-md-6">
                                    <div class="screen03_img text-center">
                                        <div class="attr_rainy2 text-white">Rainy</div>
                                        <div class="attr_deg4 text-white">9 &deg;</div>
                                        <img src="assets/images/screen03.png" alt="" />
                                        <h1 class="rainy">Rainy</h1>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="screen03_content m-top-100">
      <!--                                   <div class="screen03_content_img ">
                                            <img src="assets/images/rainy1.png" alt="" />
                                        </div> -->
                                        <h2 class="m-top-40">When you want to find</h2>
                                        <p class="m-top-20">The app allows you to search through your text!</p>

              
                                    </div>
                                </div>
                            </div><!--End off Screen02-->


                        </div>
                    </div><!--End off row-->
                </div><!--End off container-->
            </section><!--End off Screen01 Area Section -->
